<section class="footer-section">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-logo">
                <a href="/">
                    <img src="imgs/Kairosys_Logo-removebg-preview.png" alt="Logo" id="footer-img">
                </a>
                <a href="/">KairoSys Applied Intelligence</a>
            </div>

            <div class="footer-links">
                <div class="footer-col">
                    <h5>Product</h5>
                    <a href="/#info" class="footer-tail-link">Overview</a>
                    <a href="/#features" class="footer-tail-link">Features</a>
                    <a href="/#demo" class="footer-tail-link">Demo</a>
                    <a href="https://productai-1.onrender.com/" target="_blank" class="footer-tail-link">Visit Product</a>
                </div>
                <div class="footer-col">
                    <h5>Solution</h5>
                    <a href="/#who-we-serve" class="footer-tail-link">Who We Serve</a>
                    <a href="/#use-case-explorer" class="footer-tail-link">Use Cases</a>
                    <a href="/roi" class="footer-tail-link">ROI Calculator</a>
                </div>
                <div class="footer-col">
                    <h5>Questions</h5>
                    <a href="/#faqs" class="footer-tail-link">FAQs</a>
                    <a href="/search" class="footer-tail-link">Search Glossary</a>
                </div>
                <div class="footer-col">
                    <h5>Contact</h5>
                    <a href="/#contact" class="footer-tail-link">Schedule Demo</a>
                </div>
                <div class="footer-col">
                    <h5>About Us</h5>
                    <a href="/team" class="footer-tail-link" style="display: none;">Meet The Team</a>
                    <a href="/blog" class="footer-tail-link">Blog</a>
                    <a href="/research" class="footer-tail-link">Relevant Research</a>
                </div>
                <div class="footer-col">
                    <h5>Legal</h5>
                    <a href="/privacy" class="footer-tail-link">Privacy Policy</a>
                    <a href="/terms" class="footer-tail-link">Terms of Service</a>
                </div>
            </div>
        </div>

        <div class="footer-right">
            <div class="footer-social">
                <a href="https://www.linkedin.com/company/kairosys-applied-intelligence/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
                <p>© 2026 KairoSys Applied Intelligence</p>
        </div>
    </div>
</section>
