<header class="nav-section">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="imgs/Kairosys_Logo-removebg-preview.png" alt="KairoSys logo"></a>
            <a href="/" class="logo-text">KairoSys</a>
        </div>

        <div class="nav-links-container">
            <div class="nav-links">
                <div class="dropdown">
                    <a href="/#info">Product <i class="fa fa-chevron-down arrow"></i></a>
                    <div class="dropdown-content">
                        <a href="/#info">Overview</a>
                        <a href="/#features">Features</a>
                        <a href="/#demo">Demo</a>
                        <a href="https://productai-1.onrender.com/" target="_blank">Visit Product</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/#who-we-serve">Solution <i class="fa fa-chevron-down arrow"></i></a>
                    <div class="dropdown-content">
                        <a href="/#who-we-serve">Who We Serve</a>
                        <a href="/#use-case-explorer">Use Cases</a>
                        <a href="/roi">ROI Calculator</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/#faqs">Questions <i class="fa fa-chevron-down arrow"></i></a>
                    <div class="dropdown-content">
                        <a href="/#faqs">FAQs</a>
                        <a href="/search">Search Glossary</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/research">About Us <i class="fa fa-chevron-down arrow"></i></a>
                    <div class="dropdown-content">
                        <a href="/team" style="display: none;">Meet The Team</a>
                        <a href="/blog">Blog</a>
                        <a href="/research">Relevant Research</a>
                    </div>
                </div>
                <a href="/#contact">Contact</a>
            </div>
        </div>

        <div class="right-nav">
            <a href="/#contact" class="contact-btn" id="contact-btn">
                <span class="contact-text">Schedule Demo</span>
                <span class="icon-wrapper">
                    <i id="closed" class="fa fa-envelope"></i>
                    <i id="open" class="fa fa-envelope-open"></i>
                </span>
            </a>
            <button class="hamburger" aria-label="Toggle navigation menu" aria-expanded="false">
                <div class="line" id="l1"></div>
                <div class="line" id="l2"></div>
                <div class="line" id="l3"></div>
            </button>
        </div>
    </nav>
</header>
<div class="nav-overlay"></div>
